/*---------------------fonts----------------------*/

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura_pt/FuturaPT-Bold.eot');
    src: local('../fonts/futura_pt/Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/futura_pt/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_pt/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/futura_pt/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/futura_pt/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/futura_pt/FuturaPT-Demi.eot');
    src: local('../fonts/futura_pt/Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/futura_pt/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_pt/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/futura_pt/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/futura_pt/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/futura_pt/FuturaPT-Book.eot');
    src: local('../fonts/futura_pt/Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/futura_pt/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_pt/FuturaPT-Book.woff') format('woff'),
        url('../fonts/futura_pt/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


h1, h2, h3, h4, input {
  	font-family: 'Futura PT';
	color: #2F69D0;
}

p, a, span, label, h5, h6 {
  	font-family: 'Futura PT Book';
  	text-decoration: none;
}

a:focus,
a:active {
  	outline: none;
}


/*------------------wrapper-content------------------*/

.wrapper-content{
	width: 100%;
	background: url("../images/bg.jpg")no-repeat;
	background-size: cover;
}

/*---------------------------------------------------*/

/*------------------header----------------------------*/

.header .container-display{
	max-width: 1180px;
	width: 100%;
	padding: 45px 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	z-index: 100;
	position: relative;
}

.container-center{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
    max-width: 60%;
    width: 100%;
}

.logo-wrapper a{
	max-width: 175px;
	width: 100%;
}

.menu-list{
	display: flex;
	align-items: center;
}

.menu-link{
	font-family: 'Futura PT Book';
	font-weight: 400;
	font-size: 16px;
	color: #2F69D0;
	margin-right: 40px;
}

.menu-item{
	position: relative;
	padding-bottom: 9px;
}

.menu-item.active-menu-link::after{
	content: '';
	width: 36%;
	position: absolute;
	bottom: 0;
	height: 3px;
	background: #2F69D0;
	left: 0;
	right: 0;
}

.menu-item:hover::after {
	content: '';
	width: 37%;
	position: absolute;
	bottom: 0;
	height: 3px;
	background: #2F69D0;
	left: 0;
	right: 0;
	transition: .3s;
}

.menu-list{
	width: fit-content;
}

.connect-btn{
	background: transparent;
	width: 174px;
	height: 52px;
	border-radius: 30px;
	border: 1px solid #5C6DEC;
	position: relative;
}

.connect-btn:hover{
	background: #EFF1FE;
	transition: .3s;
}

.connect-btn span{
	color: #316AD1;
	font-family: 'Futura PT';
	font-weight: bold;
	font-size: 14px;
	margin-left: 30px;
}

.connect-btn::before{
	content: '';
	position: absolute;
	left: 23px;
	top: 0;
	bottom: 0;
	background: url('../images/graphic.svg')no-repeat;
	width: 25px;
	height: 23px;
	background-size: contain;
    transform: translateY(50%);
}

.contact-link{
	width: 28px;
	height: 28px;
	display: block;
	margin-right: 25px;
}

.telegram{
	background: url('../images/telegram.svg')no-repeat;
	background-size: contain;
}

.twitter{
	background: url('../images/twitter.svg')no-repeat;
	background-size: contain;
}

.wichat{
	background: url('../images/chat.svg')no-repeat;
	background-size: contain;
}

.contact-list{
	display: flex;
	align-items: center;
	margin-left: 36px;
}

.container-header-contact{
	display: flex;
	align-items: center;
}

.list-language{
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 30px;
	box-shadow: 0px 8px 12px #E6E9FE;
}

.list-language > li {
	background: #FFFFFF;
	padding: 7px 12px;
	cursor: pointer;
	list-style-type: none;
	width: 27px;
}

.list-language,
.list-language li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.list-language > li:hover, list-language > li.active-lng {
	background: #EFF1FE;
	transition: .3s;
}

.link-language,
.container-language p{
	font-size: 16px;
	font-family: 'Futura PT Book';
	font-weight: normal;
	color: #2F69D0;
}

.lang, .lang2{
	padding: 7px 12px;
	cursor: pointer;
	width: 27px;
	height: 21px;
}

.container-language{
	background: #FFFFFF;
	box-shadow: 0px 8px 12px #E6E9FE;
	border-radius: 5px;
	position: relative;
}

.lang::before,
.lang2::before{
	content: '';
	position: absolute;
	right: 7px;
	width: 6px;
	height: 6px;
	background: url("../images/dropdown_check.svg")no-repeat;
	top: 50%;
	transform: translateY(-50%);
}


/*-----------------------------------------------------*/

/*-----------------main display--------------*/

.container-display{
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}

.image-content{
	display: flex;
	justify-content: flex-end;
}

.wrapper-first-display{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 155px;
	position: relative;
	padding-bottom: 309px;
	min-height: 531px;
}

.wrapper-first-display::before{
	content: '';
	position: absolute;
	background: url("../images/before_1.svg")no-repeat;
	bottom: 0;
	width: 100%;
	height: 421px;
	background-size: cover;
}


.info-content{
	width: 40%;
}

.image-content{
	width: 60%;
}

.image-content img{
	width: 100%;
}

.main-title{
	color: #2F69D0;
	font-family: "Futura PT Book";
	font-size: 64px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.main-title span{
	font-family: 'Futura PT';
	font-weight: 700;
}

.sub-title{
	font-weight: 600;
	font-size: 16px;
	color: #1A237E;
	margin-bottom: 38px;
}

.blue-btn{
	background: linear-gradient(180deg, #2159BB 0%, #3771DB 100%);
	width: 220px;
	height: 52px;
	border-radius: 30px;
	border: none;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	box-shadow: 0px 15px 24px #DCE1F8;
}

.blue-btn:hover{
	background: linear-gradient(180deg, #3771DB 100%, #2159BB 0%);
}

/*---------------second display---------------------*/

.title-block{
	font-size: 48px;
	font-weight: 700;
	max-width: 579px;
	line-height: normal;
}

.container-secure-property{
	background: linear-gradient(180deg, rgba(243, 246, 254, 0) 0%, #F3F6FE 100%);
	border: 1px solid #4D87EC;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 44px 67px 40px;
	margin-right: 36px;
	position: relative;
	min-height: 180px;
	margin-bottom: 156px;
}

.container-secure-property::after{
	content: '';
	position: absolute;
	bottom: 17px;
	left: -102px;
	background: url("../images/half.svg")no-repeat;
	width: 179px;
	height: 158px;
}

.container-secure-property::before {
	content: '';
	position: absolute;
	top: -63px;
	right: 0;
	background: url("../images/line_blue.svg")no-repeat;
	width: 142px;
	height: 54px;
}

.container-blocks-input{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.wrapper-input{
	max-width: 390px;
	width: 100%;
}

.input-block{
	border: 1px solid #7186F8;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 19px;
	background: transparent;
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	color: #657AEC;
	max-width: 390px;
	width: 100%;
	margin-top: 15px;
}

.title-input{
	font-size: 24px;
	font-weight: 400;
	color: #000000;
}

.container-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
}

.success-text{
	margin-top: 25px;
	font-weight: 400;
	font-size: 24px;
	color: #000000;
	padding-left: 37px;
	position: relative;
}

.success-text::before{
	content: '';
	position: absolute;
	left: 0;
	background: url("../images/check.svg") no-repeat;
	width: 27px;
	height: 20px;
}

.wrapper-secure{
	position: relative;
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}

.wrapper-secure::before{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	background: url("../images/before_right.svg")no-repeat;
	width: 90px;
	height: 100%;
	background-size: cover;
}


/*---------------plan list-------------*/

.list-blocks{
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}

.item-blocks{
	max-width: 263px;
	width: 100%;
	position: relative;
	padding-bottom: 118px;
	z-index: 10;
	margin-right: 30px;
}

.item-blocks:last-child{
	margin-right: 0;
}

.container-item-info{
	background: #F7F8FE;
	border-radius: 20px;
	padding: 30px 22px;
	max-width: 219px;
	width: 100%;
}

.item-blocks::before{
	content: '';
	position: absolute;
	bottom: 0;
	height: 189px;
	left: -14px;
	right: 0;
	width: 292px;
	background: url("../images/light_plate.png")no-repeat;
	z-index: -1;
	cursor: pointer;
}

.item-blocks:hover .container-item-info{
	background: linear-gradient(180deg, #F9FAFF 0%, #DBE0FD 100%);
}

.item-blocks:hover::before{
	content: '';
	position: absolute;
	bottom: 0;
	height: 189px;
	left: -14px;
	right: 0;
	width: 292px;
	background: url("../images/dark_plate.png")no-repeat;
	z-index: -1;
}

.title-item{
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.color-btn{
	font-size: 30px;
	font-weight: 700;
	width: 218px;
	height: 52px;
	border-radius: 50px;
	margin: 30px 0;
	box-shadow: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pink-btn{
	background: #C059C4;
}

.color-btn.pink-btn:hover{
	background: #af4cb3;
}

.blue-light-btn{
	background: #2CD9F7;
}

.blue-light-btn:hover{
	background: #26c5e0;
}

.violet-btn{
	background: #6A80F7;
}

.violet-btn:hover{
	background: #5c70da;
}

.dark-blue-btn{
	background: #1793F8;
}

.dark-blue-btn:hover{
	background: #1481da;
}

.item-body-list{
	margin-bottom: 10px;
	padding-left: 27px;
	position: relative;
}

.item-body-list:last-child{
	margin-bottom: 0;
}

.text-body-item{
	font-size: 18px;
	font-weight: 450;
	color: #000000;
}

.bold-span,
.bold-text-item{
	font-weight: 700;
	font-family: "Futura PT";
}

.item-body-list::before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url("../images/little_planet.svg")no-repeat;
	width: 18px;
	height: 18px;
}

.body-input{
	border: 1px solid #5C6DEC;
	box-sizing: border-box;
	filter: drop-shadow(0px 15px 24px #DCE1F8);
	border-radius: 30px;
	color: #316AD1;
	font-size: 18px;
	font-weight: 600;
	background: transparent;
	max-width: 159px;
	height: 52px;
	width: 100%;
	padding: 15px 24px;
}

.wrapper-input-body{
	display: flex;
	align-items: center;
	margin-top: 32px;
}

.label-input{
	color: #316AD1;
	font-weight: 700;
	font-size: 18px;
	font-family: "Futura PT";
	margin-left: 13px;
}

.sub-text-input{
	font-size: 14px;
	margin-top: 10px;
	max-width: 227px;
	width: 100%;
}

.light-blue-btn{
	background: linear-gradient(180deg, #6A80F7 0%, #BDC7FD 100%);
}

.light-blue-btn:hover{
	background: linear-gradient(180deg, #BDC7FD 0%, #6A80F7 100%);
}

.footer-item{
	margin-top: 30px;
}

/*-----------referral-dividents------------------*/

.referral-dividents-container{
	padding-top: 115px;
	padding-bottom: 110px;
}

.container-inside-block{
	background: #FFFFFF;
	box-shadow: 0px 4px 19px rgba(1, 53, 86, 0.17);
	border-radius: 10px;
	min-height: 200px;
	margin-right: 36px;
	padding: 51px 39px 40px 50px;
}

.title-header{
	font-size: 38px;
	color: #2F69D0;
	font-style: normal;
	font-weight: bold;
}

.header-block-describe{
	margin-bottom: 10px;
}

.container-describe{
	background: rgba(220, 225, 253, 0.38);
	border-radius: 10px;
	padding: 15px 22px 13px;
	max-width: 391px;
	width: 100%;
}

.item-describe{
	margin-bottom: 12px;
}

.item-describe:last-child{
	margin-bottom: 0;
}

.title-describe{
	font-size: 16px;
	margin-bottom: 5px;
}

.container-describe{
	margin-bottom: 30px;
}

.info, .info span{
	color: #2E67CE;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	font-family: "Futura PT";
}

.item-describe-info p{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	margin-bottom: 10px;
}

.item-describe-info span{
	color: #2E67CE;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	font-family: "Futura PT";
}

.item-describe-info:first-child{
	margin-bottom: 24px;
}

.item-describe-info:last-child{
	margin-bottom: 0;
}

.list-describe-info{
	margin-top: 30px;
}

.dividets-block{
	border-right: 1px solid rgba(1, 53, 86, 0.22);
	max-width: 475px;
	width: 100%;
}

.container-inside-block{
	display: flex;
}

.referral-block{
	padding-left: 78px;
	width: 100%;
}

.referral-text{
	margin-top: 23px;
}

.referral-text-item p{
	color: #212529;
	font-family: "Futura PT Book";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

.referral-text-item{
	margin-bottom: 10px;
}

.referral-text-item p a{
	color: #2F69D0;
	font-family: "Futura PT";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	margin: 0 10px;
	text-transform: uppercase;
}

.container-referral-info{
	background: rgba(220, 225, 253, 0.38);
	border-radius: 10px;
	padding: 19px 24px 13px;
	margin: 18px 0;
}

.referral-item-info td{
	padding: 5px 0;
}
.referral-item-info p{
	color: #212529;
	font-family: "Futura PT Book";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

.result span{
	padding-left: 10px;
	color: #437FEC;
	font-family: "Futura PT";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
}

.total-wrapper{
	display: flex;
	align-items: center;
}

.total-wrapper p{
	color: #212529;
	font-size: 16px;
	margin-right: 10px;
}

.total-wrapper span{
	color: #437FEC;
	font-family: "Futura PT";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	margin-right: 5px;
}

/*-----------block investments---------*/

.wrapper-investments{
	padding: 96px 0 44px 93px;
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.wrapper-investments::before{
	content: '';
	position: absolute;
	top: -6px;
	left: 0;
	right: 0;
	width: 93%;
	height: 260px;
	background: url("../images/before_2.svg") no-repeat;
	background-size: cover;
}

.wrapper-investments::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 504px;
	background: url("../images/before_3.svg") no-repeat;
	background-size: contain;
}

.numbers-info{
	display: flex;
}

.numbers-info span{
	margin-right: 5px;
}

.blue-text,
.red-text{
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
}

.blue-text{
	color: #657AEC;
}

.red-text{
	color: #f9687f;
}

.date{
	font-family: "Futura PT Book";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	margin-left: 10px;
}

.text-info p{
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
}

.text-info{
	margin-top: 10px;
}

.text-info span{
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 600;
}

.item-investment{
	background: #F7F8FF;
	border: 1px solid #4D87EC;
	box-sizing: border-box;
	border-radius: 30px;
	max-width: 556px;
	width: 100%;
	padding: 25px 18px;
	margin-bottom: 10px;
}

.item-investment:last-child{
	margin-bottom: 0;
}

.container-blocks-investment, .header-display{
	position: relative;
}

.container-blocks-investment{
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 660px;
	position: relative;
	z-index: 10000;
}

.invest-btn{
	margin-top: 37px;
}

.right-block{
	position: relative;
}

.right-block img{
	width: 100%;
}

.item-total{
	margin-bottom: 17px;
}

.item-total:last-child{
	margin-bottom: 0;
}

.container-list-investment{
	margin-top: 17px;
	display: flex;
	flex-direction: column;
}

.item-total{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-total p{
	font-family: "Futura PT Book";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
}

.container-result span{
	color: #657AEC;
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
}

.list-investments{
	display: none;
	margin: 0 auto;
}

/*---------------block priority---------*/

.wrapper-priority{
	padding-top: 57px;
	position: relative;
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;
}

.wrapper-priority::before{
	content: '';
	position: absolute;
	right: 0;
	top: -5px;
	width: 823px;
	height: 100%;
	background: url("../images/before_last.svg")no-repeat;
	background-size: cover;
}

.container-schema-priority{
	max-width: 488px;
	width: 100%;
}

.container-schema-priority img{
	width: 100%;
}

.container-goal-text{
	max-width: 306px;
	width: 100%;
}

.title-goal{
	color: #657AEC;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 10px;
	position: relative;
}

.text-goal{
	font-size: 18px;
	line-height: normal;
	position: relative;
}

.first-goal{
	margin-bottom: 80px;
}

.wrapper-priority-goals{
	display: flex;
	align-items: center;
}

.container-goals{
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.first-goal,
.second-goal,
.tree-goal{
	position: relative;
	padding-bottom: 12px;
}

.first-goal::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 421px;
	height: 103px;
	background: url("../images/point_line_1.svg") no-repeat;
}

.second-goal::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 438px;
	height: 107px;
	background: url("../images/point_line_1.svg") no-repeat;
}

.tree-goal::before{
	content: '';
	position: absolute;
	bottom: 0;
	right: 35px;
	width: 476px;
	height: 97px;
	background: url("../images/point_line_3.svg") no-repeat;
}

/*---------------------faq block------------------*/

.container-faq-info{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.container-img-faq{
	max-width: 630px;
	width: 100%;
}

.container-img-faq img{
	width: 100%;
}

.left-faq{
	width: 50%;
}

.right-faq{
	width: 50%;
	position: relative;
	min-height: 580px;
}

.item-faq{
	max-width: 553px;
	width: 100%;
	background: #F0F3FE;
	border: 1px solid #4D87EC;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 24px 30px 21px 19px;
	margin-bottom: 15px;
	cursor: pointer;
}

.change-style{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.item-faq:last-child{
	margin-bottom: 0;
}

.text-faq p{
	font-size: 16px;
	line-height: normal;
}

.text-faq{
	padding-top: 11px;
	border-top: 1px solid #4D87EC;
	margin-top: 15px;
	display: none;
}

.active-text{
    display: list-item;
}

.header-faq{
	display: flex;
	align-items: center;
	position: relative;
}

.number-faq{
	margin-right: 14px;
	color: #657AEC;
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

.title-faq{
	color: #2F69D0;
	font-size: 18px;
}

.chevron-img{
	width: 14px;
	height: 16px;
	background: url("../images/dropdown_check.svg")no-repeat;
	background-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.active-chewron{
	transform: translateY(-50%) rotate(180deg);
	transition: .3s
}

.container-faq{
	padding-right: 30px;
	padding-top: 70px;
}

.container-list-faq{
	margin-top: 15px;
}


/*-----------------footer---------------------*/

.footer .container-display{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer{
    padding: 135px 0 37px;
	background: url("../images/footer.jpg")no-repeat;
	background-size: cover;
}

.footer .container-language .list-language{
	bottom: 30px;
	top: inherit;
    box-shadow: 0px -8px 20px #e6e9fe;
}

.footer .container-language  .list-language, .footer .container-language  .list-language li:last-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.to-top-btn{
	border: none;
	border-radius: 30px;
	position: fixed;
	bottom: 120px;
    right: 22%;
	width: 66px;
	height: 66px;
	background: url("../images/top.png") no-repeat;
	background-size: contain;
	z-index: 1000000;
}

.burger-mobile{
	display: none;
}

.mobile-menu{
	display: none;
}

.fixed{
	position: fixed;
    width: 100%;
    background: #FFFFFF;
    z-index: 100000;
    box-shadow: 0px 8px 12px #E6E9FE;
}

.container-main-header{
	min-height: 136px;
}

.close-mobile{
	display: none;
}

.invest-main-mobile{
	display: none;
}