/*---------------------fonts----------------------*/

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura_pt/FuturaPT-Bold.eot');
    src: local('../fonts/futura_pt/Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/futura_pt/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_pt/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/futura_pt/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/futura_pt/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/futura_pt/FuturaPT-Demi.eot');
    src: local('../fonts/futura_pt/Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/futura_pt/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_pt/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/futura_pt/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/futura_pt/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/futura_pt/FuturaPT-Book.eot');
    src: local('../fonts/futura_pt/Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/futura_pt/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_pt/FuturaPT-Book.woff') format('woff'),
        url('../fonts/futura_pt/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


h1, h2, h3, h4, input {
  font-family: 'Futura PT';
}

p, a, span, label {
  font-family: 'Futura PT Book';
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}


/*------------------wrapper-content------------------*/

.wrapper-content{
	width: 100%;
	background: url("../images/bg.jpg")no-repeat;
	background-size: cover;
}

/*---------------------------------------------------*/

/*------------------header----------------------------*/

.header{
	max-width: 1180px;
	width: 100%;
	padding: 45px 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.container-center{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
    max-width: 60%;
    width: 100%;
}

.logo-wrapper a{
	max-width: 175px;
	width: 100%;
}

.menu-list{
	display: flex;
	align-items: center;
}

.menu-link{
	font-family: 'Futura PT Book';
	font-weight: 400;
	font-size: 16px;
	color: #2F69D0;
	margin-right: 40px;
}

.menu-item{
	position: relative;
	padding-bottom: 9px;
}

.menu-item.active-menu-link::after{
	content: '';
	width: 36%;
	position: absolute;
	bottom: 0;
	height: 3px;
	background: #2F69D0;
	left: 0;
	right: 0;
}

.menu-item:hover::after {
	content: '';
	width: 37%;
	position: absolute;
	bottom: 0;
	height: 3px;
	background: #2F69D0;
	left: 0;
	right: 0;
	transition: .3s;
}

.menu-list{
	width: fit-content;
}

.connect-btn{
	background: transparent;
	width: 174px;
	height: 52px;
	border-radius: 30px;
	border: 1px solid #5C6DEC;
	position: relative;
}

.connect-btn:hover{
	background: #EFF1FE;
	transition: .3s;
}

.connect-btn span{
	color: #316AD1;
	font-family: 'Futura PT';
	font-weight: bold;
	font-size: 14px;
	margin-left: 30px;
}

.connect-btn::before{
	content: '';
	position: absolute;
	left: 23px;
	top: 0;
	bottom: 0;
	background: url('../images/graphic.svg')no-repeat;
	width: 25px;
	height: 23px;
	background-size: contain;
    transform: translateY(50%);
}

.contact-link{
	width: 28px;
	height: 28px;
	display: block;
	margin-right: 25px;
}

.telegram{
	background: url('../images/telegram.svg')no-repeat;
	background-size: contain;
}

.twitter{
	background: url('../images/twitter.svg')no-repeat;
	background-size: contain;
}

.wichat{
	background: url('../images/chat.svg')no-repeat;
	background-size: contain;
}

.contact-list{
	display: flex;
	align-items: center;
	margin-left: 36px;
}

.container-header-contact{
	display: flex;
	align-items: center;
}

.list-language{
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 30px;
	box-shadow: 0px 8px 12px #E6E9FE;
}

.list-language > li {
	background: #FFFFFF;
	padding: 7px 12px;
	cursor: pointer;
	list-style-type: none;
	width: 27px;
}

.list-language,
.list-language li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.list-language > li:hover, list-language > li.active-lng {
	background: #EFF1FE;
	transition: .3s;
}

.link-language,
.container-language p{
	font-size: 16px;
	font-family: 'Futura PT Book';
	font-weight: normal;
	color: #2F69D0;
}

.lang{
	padding: 7px 12px;
	cursor: pointer;
	width: 27px;
}

.container-language{
	background: #FFFFFF;
	box-shadow: 0px 8px 12px #E6E9FE;
	border-radius: 5px;
	position: relative;
}

.lang::before{
	content: '';
	position: absolute;
	right: 7px;
	width: 6px;
	height: 6px;
	background: url("../images/dropdown_check.svg")no-repeat;
	top: 50%;
	transform: translateY(-50%);
}


/*-----------------------------------------------------*/

/*-----------------main display--------------*/

.container-display{
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}

.image-content{
	display: flex;
	justify-content: flex-end;
}

.wrapper-first-display{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 155px;
	position: relative;
	padding-bottom: 317px;
	min-height: 531px;
}

.wrapper-first-display::before{
	content: '';
	position: absolute;
	background: url("../images/before_1.svg")no-repeat;
	bottom: 0;
	width: 100%;
	height: 421px;
}


.info-content{
	width: 40%;
}

.image-content{
	width: 60%;
}

.image-content img{
	width: 100%;
}

.main-title{
	color: #2F69D0;
	font-family: "Futura PT Book";
	font-size: 64px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.main-title span{
	font-family: 'Futura PT';
	font-weight: 700;
}

.sub-title{
	font-weight: 600;
	font-size: 16px;
	color: #1A237E;
	margin-bottom: 38px;
}

.blue-btn{
	background: linear-gradient(180deg, #2159BB 0%, #3771DB 100%);
	width: 220px;
	height: 52px;
	border-radius: 30px;
	border: none;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	box-shadow: 0px 15px 24px #DCE1F8;
}

.blue-btn:hover{
	background: linear-gradient(180deg, #3771DB 100%, #2159BB 0%);
}